<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Signup</title>
    <style>
        .message {
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            display: block;
        }
        .success { background-color: #d4edda; color: #155724; }
        .error { background-color: #f8d7da; color: #721c24; }
        .close {
            float: right;
            cursor: pointer;
            font-weight: bold;
        }

    </style>
</head>
<body>

    {% if messages %}
        {% for message in messages %}
            <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                <span class="close" onclick="this.parentElement.style.display='none'">&times;</span>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h3>Sign up</h3>

    <form action="/signup" method="post">
        {% csrf_token %}
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholder="Create a username(only letters and numbers)" Required>
        <br>

        <label for="">First name</label>
        <input type="text" id="fname"name="fname" placeholder="Enter your first name" Required>
        <br>

        <label for="">Last name</label>
        <input type="text" id="lname"name="lname" placeholder="Enter your last name" Required>
        <br>

        <label for="">Email Address</label>
        <input type="email" id="email" name ="email" placeholder="Enter your email address" Required>
        <br>

        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholder="Enter your password" Required>
        <br>

        <label for= ""> Confirm password</label>
        <input type="password" id="pass2" name="pass2" placeholder="Confirm your password" Required>
        <br>

        <button type="submit">Sign up</button>

    </form>
    
</body>
</html>